
<h3>Home: Please Log In</h3>
<p>Enter your username and password.</p>

<form method='post' action='/summary'>
<p><input type='text' name='username'> Enter User name </p>
<p><input type='text' name='password'> Enter Password </p>

<p><input type='submit'></p>
</form>

<p>So you don't have to look the passwords up, here are a few users to work with</p>

<ul>
    <li>username: asmith, password: 12345,</li>
    <li>username: jwhite, password: admin,</li>
    <li>username: byoung, password: 22222,</li>
</ul>
<p>Each time you visit this page in a single session, the visit count will increase by 1. </p>
<h4>Page visits: {{views}}.</h4>

