<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>express-session</title>
<link href="css/mystyle.css" rel="stylesheet">
</head>
<body>
  <ul>  <!-- nav bar : these will all be GET requests -->
	<li><a href="/">Home</a></li>
	<li><a href="/jokes">Joke of the Day</a></li>
	<li><a href="/weather">Nome, Alaska Weather</a></li>
  </ul>

    {{{body}}}

<div class="footer">
        <p>
            &nbsp; &nbsp; &copy;  Go Mongo.
        </p>
    </div>
	
	</body>
</html>